<!DOCTYPE html>

<html>

<head>

	<title><%= pageTitle %></title>
  <!-- <base href="https://exrphptest.000webhostapp.com/"> -->
	<base href="/">
	<link href="css/styles.css" rel="stylesheet">

</head>



<body id="final-example">

	<div class="wrapper">

		<div id="banner">

			<a href="/" title"Return to Home">

				<img src="img/banner.jpg" alt="Franklin's Fine Dining" class=banner>

			</a>

		</div> <!--- banner -->



		<div id="nav">
			<%- include('nav'); -%>
		</div> <!--- nav -->



		<div class="content">
