

<%- include('partials/header'); -%>
	<div id="philosophy">

		<hr>

    <h1>Los Pollos Hermanos's Philosopy</h1>
    <p> <%= StartingContent %></p>

		<hr>

	</div> <!-- philosophy -->
<%- include('partials/footer'); -%>
